#countLabel{
    display: block;
    text-align: center;
    font-size: 20em;
    font-family: Helvetica;
}

#btnContainer{
    text-align: center;
}

.buttons{
    padding: 10px 20px;
    font-size: 1.5cm;
    color: white;
    background-color:hsl(209, 46%, 50%); 
    border-radius: 10px;
    
    cursor: pointer;
     
    transition: background-color .25s;

}
.buttons:hover{
    background-color:hsl(63, 73%, 52%)
}
